<h2>Total User Data</h2>


<table border="1">
  <thead>
    <th>Name</th>
    <th>Total Time Worked</th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employeeDetails" [style.background-color]="emp?.duration < 100 ? 'yellow' : ''">
      <td [style.text-align]="'center'">{{emp?.name}}</td>
      <td [style.text-align]="'center'">{{emp?.duration}}</td>
    </tr>
  </tbody>
</table>


<h2>Pie Chart</h2>

<select (change)="createChart($event)" >
  <option value="" selected hidden>Select Name</option>
  <option *ngFor="let name of uniqueNames" [value]="name">{{name}}</option>
</select>

<br>

<div [style.width]="'50%'">

<canvas  id="MyChart">{{ chart }}</canvas>

</div>
